body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    margin-top: 125px;
}

.navbar-brand {
    display: flex;
}

.navbar-brand div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.navbar-customized {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.hero-image-with-texts {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/hero/balangoda-amcc-official.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
    color: white;
    padding: 20px;
}













